name: PyTest
on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - '**'

jobs:
  python:
    strategy:
      matrix:
        python-version: [ "3.8", "3.9"]
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      # Setup Python (faster than using Python container)
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install -e .
      - name: Run unit tests
        run: python -m pytest --import-mode=append tests/
      - name: Run lint test
        run: ./dev/lint-python
      - name: Run test coverage
        run: |
          mkdir ./coverage/
          pytest --cov-report xml:./coverage/coverage.xml